<div class = "panel panel-default">
  <div style="height: 300px" class="panel-heading">
    <h2>{{ contact.name }}</h2>
    <img
      [src]="contact.imageUrl"
      alt="{{ contact.name }}"
      class="img-responsive"
      style="max-height: 300px;">
    <a (click)="onDelete()" class="btn btn-danger pull-right ">Delete</a>
    <a routerLink="./edit" type="button" class="btn btn-primary pull-right ">Edit</a>
  </div>
  <div class="panel-body">
    <h4>
      Email: {{ contact.email }}<br>
      Phone: {{ contact.phone }}<br>
    </h4>
</div>


